<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Ikrar/IdeaProjects/jc-magang-hadir-hrm/src/test/java/TestNG/admin/AdminLoginTest.java">
        <classes>
            <class name="TestNG.admin.AdminLoginTest">
                <methods>
                    <include name="testValidLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Ikrar/IdeaProjects/jc-magang-hadir-hrm/src/test/java/TestNG/admin/AdminDashboardTest.java">
        <classes>
            <class name="TestNG.admin.AdminDashboardTest">
                <methods>
                    <include name="testNavigateToManagementMenu"/>
<!--                    <include name="testNavigateToDivisiMenu"/>-->
                    <include name="testNavigateToUnitMenu"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Ikrar/IdeaProjects/jc-magang-hadir-hrm/src/test/java/TestNG/admin/UnitTest.java">
        <classes>
            <class name="TestNG.admin.UnitTest">
                <methods>
                    <include name="testCancelAddNewUnit"/>
                    <include name="testAdd255MoreCharUnit"/>
                    <include name="testAddNewUnit"/>
                    <include name="testAddNewSameUnit"/>
                    <include name="testAddNewBlankNameUnit"/>
                    <include name="testSearchInvalidUnit"/>
                    <include name="testResetSearchUnit"/>
                    <include name="testSearchValidUnit"/>
                    <include name="testCancelEditUnit"/>
                    <include name="testEditUnit"/>
                    <include name="testEditUnitSameName"/>
                    <include name="testCancelDeleteUnit"/>
                    <include name="testDeleteUnit"/>
                    <include name="testFilterRowBy5Unit"/>
                    <include name="testFilterRowBy10Unit"/>
                    <include name="testFilterRowBy25Unit"/>
                    <include name="testMoveToLastPage"/>
                    <include name="testMoveToBeforePage"/>
                    <include name="testMoveToFirstPage"/>
                    <include name="testMoveToNextPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>